* {
    box-sizing: border-box;
  }
  
  :root {
    font-family: "Poppins", sans-serif;
    color: #1A1A1A;
    background-color: #FCE4EC;
  }
  
  html,
  body,
  #root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }