@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, sans-serif;
  color: #08060d;
  background: #ffffff;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

p {
  margin: 0;
}